.TheProposal {
    grid-column-start: main;
    grid-column-end: gutterRight;

    padding: 10px;

    &-photos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}