$gutterWidthDesktop: 25%;
$gutterWidthTabletPortrait: 10%;
$gutterWidthTabletLandscape: 15%;
$gutterWidthPhone: 2%;

.App {
  display: grid;
  font-size: calc(10px + 2vmin);

  @media screen
  and (min-width: 1200px)
  and (max-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
    $gutterWidth: $gutterWidthDesktop;
    grid-template-columns: [gutterLeft] $gutterWidth [main] auto [gutterRight] $gutterWidth [end];
  }

  @media only screen
  and (min-width: 768px)
  and (max-width: 1024px)
  and (orientation: portrait) {
    $gutterWidth: $gutterWidthTabletPortrait;
    grid-template-columns: [gutterLeft] $gutterWidth [main] auto [gutterRight] $gutterWidth [end];
  }

  @media only screen
  and (min-width: 768px)
  and (max-width: 1024px)
  and (orientation: landscape) {
    $gutterWidth: $gutterWidthTabletLandscape;
    grid-template-columns: [gutterLeft] $gutterWidth [main] auto [gutterRight] $gutterWidth [end];
  }

  @media only screen
  and (min-width: 320px)
  and (max-width: 767px) {
    $gutterWidth: $gutterWidthPhone;
    grid-template-columns: [gutterLeft] $gutterWidth [main] auto [gutterRight] $gutterWidth [end];
  }
}
